#default properties file
maxGenerations=2000
errorFunction=RMSE
populationSize=100
operators=ADD,SUB,MUL,DIV,SIN,COS,TAN
skeleton=
targetColumnIndex=-1
inputColumnIndices=ALL
maxSolutionNodes=100
initialSolutionDepth=2
seed=0
multiObjectiveOptimisation=false
includeIntegers=0,10
includeDecimals=0,10
includeDecimalPlaces=2
offspringFraction=0.6
mutatorProbability=0.01
crossoverProbability=0.05
offspringSampleSize=3
survivorsSampleSize=3
steadyFitnessLimit=99999
timeLimit=3600