# unit_test_config_1.config
dataFilePath= datasets/sin_a.csv
errorFunction= MSE
populationSize= 20
operators= SQRT
skeleton= ?+?
targetColumnIndex= 0
inputColumnIndices= 1
seed= 1234
multiObjectiveOptimisation= true
includeIntegers= 1,11
includeDecimals= 2,12
includeDecimalPlaces= 4
offspringFraction= 0.2
offspringSampleSize= 2
survivorsSampleSize= 4
mutatorProbability= 0.2
crossoverProbability= 0.3
maxGenerations= 1
steadyFitnessLimit= 99998
timeLimit= 3601
